@{
    Page.Title = "About Us";
}

<section id="main">
    <h1>A little bit about Retro-Store</h1>
    <p>
        Our mission is to be the world’s most effective vehicle for converting open source innovation into customer value. 
        By providing continuous delivery of open cloud software via a managed services model, Mirantis enables enterprise application 
        owners to become free of infrastructure and operations concerns. And, with an option to transfer operations control, 
        enterprises can reap the benefits of open source standards and avoid vendor lock-in.
    </p>
</section>

<div id="sidebar">
    @*@Twitter.Search(
        "#putyourhashtaghere", 
        caption: "Search for us", 
        backgroundShellColor: "#e6e3d8", 
        tweetsBackgroundColor: "#fdfcf7", 
        shellColor: "#696969",
        tweetsColor: "#696969",
        tweetsLinksColor: "#a52f09")*@
</div>
